[Unit]
Description=Loki Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/loki --config.file=/home/titan/loki-config/loki-local-config.yaml

[Install]
WantedBy=multi-user.target