[Unit]
Description=Go app Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/tmp/goapp --log-file --trace-url=http://10.184.0.14:9411

[Install]
WantedBy=multi-user.target